{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Failed</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Product Sans';
    }

    html,
    body {
        width: 100%;
        height: 100%;
        background-color: white;

        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 40px;
        text-shadow: 0;
        color: rgb(236, 10, 78);
    }

    img {
        height: 160px;
        margin: 10px;
    }
</style>

<body align="center">
    <img src='https://raw.githubusercontent.com/sushmakurella/LoanPrediction/main/loanprediction/static/images/failed.png' alt="failed"><br />
    <p>I'm truly sorry, <br>but based on our evaluation, we won't be able to approve your loan application at this time. Please
    don't hesitate to reach out if you have any questions or if there's anything else we can assist you with.</p>
</body>

</html>